:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;

    & a{
        text-decoration: none;
        color: #000 ;
    }
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .left-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100vh;
        
            padding: 13.8rem;
        
            position: relative;
        
            flex: 1;

        & h1{
            font-size: 4.2rem;
            width: 100%;

            max-width: 56rem;
            margin-bottom: 2.5rem;
        }

        & form{
            display: flex;
            flex-direction: column;

            width: 100%;

            max-width: 56rem;

            z-index: 9;
            
            & .input{
                height: 4.9rem;

                margin-bottom: 2.5rem;
                padding: 1.5rem 1.9rem;
                
                border: 1px solid #000;
                border-radius: .4rem;
            }

            & .check-in{
                display: flex;
                align-items: center;
                gap: 1.5%;

                height: 2.1rem;
                margin-bottom: 2.5rem;

                & input[type="checkbox"]{
                    width: 2.1rem;
                    height: 2.1rem;
                }
                
                & label{
                    font-size: 1.6rem;
                }
            }

            & .form-btn{

                height: 4.9rem;
                
                margin-bottom: 2.5rem;
                padding: 1.5rem 1.9rem;

                font-size: 1.6rem;
                font-weight: bold;
            
                color: #fff;
                background-color: #0056fb;
            
                border: none;
                border-radius: .4rem;
            
                width: 100%;

                transition: background-color 0.7s linear;
            }

            & .form-btn:hover {
                background-color: #008afb;                
            }

        }
        & form::before{
            content: '';
            position: absolute;
            background-image: url(./assets/code.svg);
            background-size: 9rem;
            background-repeat: no-repeat;
            z-index: 1;
            width: 9rem;
            height: 9rem;
            opacity: 0.5;
            bottom: 19rem;
            right: 10.2rem;
        }

        & .access-question {
            font-size: 1.6rem;
            font-weight: bold;

            width: 100%;
            max-width: 56rem;
                
            & a {
                font-weight: 400;
            }
            
        }
    }   

        & .right-card {
                    flex: 1;
        height: 100vh;

        padding: 23.6rem 9.8rem;
        background-color: #0056fb;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & img {
                width: 100%;
                max-width: 40rem;
            }
        & .text-informations{
            width: 100%;

            margin-top: 4rem;

            color: #fff;

            & h2 {
                max-width: 40rem;
                font-size: 4.8rem;
            }

            & p{
                max-width: 40rem;
                font-size: 1.8rem;
                margin-top: 2.5rem;
            }
        }
    }
}

@media (max-width: 36rem){
    .main{
        flex-direction: column;
        height: auto;

        & .left-card{
            padding: 18.9rem 1.5rem 9rem 1.5rem;
            width: 100%;

            & h1{
                font-size: 3.2rem;
            }

            & form{
                & .input::placeholder{
                    font-size: 1.3rem;
                }

                & .check-in{
                    & input[type="checkbox"]{
                        width: 1.7rem;
                        height: 1.7rem;
                    }

                    & label{
                        font-size: 1.2rem;
                    }
                }

                & .form-btn{
                    font-size: 1.3rem;
                }
            }

            & form::before {
                display: none;
            }

            & .access-question{
                font-size: 1.2rem;
            }
        }

        & .right-card{
            width: 100%;

            height: 100vh;

            padding: 7.2rem 2.2rem;

            & .text-informations{
                & h2{
                    width: 100%;
                    padding: 0 1rem;

                    font-size: 4rem;
                }

                & p{
                    font-size: 1.4rem;
                }
            }
        }
    }
}

